<h1>Book Listing</h1>
<table>
	<thead>
		<tr>
			<th>Name of Book</th>
			<th>Subject</th>
			<th>Auther</th>
			<th>No of Copies</th>
			<th colspan = 4></th>
		</td>
	</thead>


	

	<tbody>
		<%@libraries.each do |library|%>
		<tr>
			<td><%= library.bookName %></td>
			<td><%= library.subject %></td>
			<td><%= library.auther %></td>
			<td><%= library.noofcopy %></td>
			<td><%=link_to 'Show', library%></td>
			<td>&nbsp &nbsp | &nbsp &nbsp</td>
			<td><%= link_to 'Delete', library, method: :delete, data:{confirm: 'are you sure?'}%></td>
			<td>&nbsp &nbsp | &nbsp &nbsp</td>
			<td><%= link_to 'Edit', edit_library_path(library)%> </td>
		</tr>
			<%end%>
	</tbody>
</table>
</br></br>

<%=link_to "Add New Book To Libray" , new_library_path%>