<!DOCTYPE html>
<html>
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	 <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
`

</head>
<body>

  <div class="page-header"  style="background-color: silver; margin-top:0;">
  <h1>User Authentication Application <small>    SignIn/SignOut</small></h1>
</div>




 	<% if notice %>
  <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
  <p class="alert alert-danger"><%= alert %></p>
<% end %>
<div id="#content" style="margin:25px">
<%= yield %>
</div>
</body>
</html>
